
/* Simple CSS override of Bootstrap CSS */

/* 
<link rel="stylesheet" type="text/css" href="bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="custom.css">
 */

/* Ex: */

.btn, .card {
  border-radius: 9;
  border: 5px dotted red;
  padding: 30px;
}